#*doc-module:
crcnetd - CRCnet Configuration System Daemon Template

Default group file for CRCnet Biscuit PCs
*#
#attr $author = "Matt Brown <matt@crc.net.nz>"
#attr $version = "$Id$"
#attr $copyright = "Copyright (C) 2006  The University of Waikato"
#attr $license = "No usage or redistribution rights are granted. See LICENSE for details."
#attr $eventList = []
#from crcnetd._utils.ccsd_cfengine import ccs_template
#extends ccs_template
#raw
root:*:0:
nogroup:*:65534:
#end raw
