#*doc-module:
crcnetd - CRCnet Configuration System Daemon Template

Root Authorized Keys file for CRCnet
*#
#attr $author = "Matt Brown <matt@crc.net.nz>"
#attr $version = "$Id$"
#attr $copyright = "Copyright (C) 2006  The University of Waikato"
#attr $license = "No usage or redistribution rights are granted. See LICENSE for details."
#attr $eventList = []
#from crcnetd._utils.ccsd_cfengine import ccs_template
#extends ccs_template
#raw
ssh-dss AAAAB3NzaC1kc3MAAACBALCyUdXLW2ZCsfMzzSYuxrvpxeljcRlxylKJ9Cvnut5twGNEhq+XusfkCqTFMRBP+qMdMZjtnqIdWWSKPrC6q1byt+ho0W6vJ5yBGiAYta0AajrHwxyb7cy1u7JCzfiSDHjmx1gciHg5NBF02HyTeIftS30XGt6dOnv7Ok1fxnSjAAAAFQCMASNUwkEBsQAj5vQWSRqsYpE6bQAAAIAiS3Pihb+DCHVeqnIDbhIQ5QyQg0zdMAHxbaW3cVoiI4F9Z7dxAT5HT6KBdzPz9rIiHTekOWdrNRqLV8SrefdzTgy2d6wBI1EnMK7V/7/w1EqFb8HZnJkOIwCB34hzGwLbeNmwjlxfBaBYuDq36q/Ojv+zn7RYgMqsEgvekoRh/wAAAIB7J9yqK7LRJDPF04ac092zswm6KW0umLY2eHY3lWaOEt6x1B27LraISj9MDd2T3xrV69N7kNs2X2q4dJao3z9FCuqspombbxpmLfQ9MpyCKtB4D9hNK7rY07b5H7YRBWo5Vutys1l/JntkCQsI/+BEArhfQs763q66+pZiaBZqwg== CRCnet router root key
#end raw
