Dear $customer.givenname $customer.surname,

This is an automated notification as you have exceeded your current data
usage cap of ${customer.cap_at_mb}MB. 

As per your chosen plan, your speed has been reduced to 64kbps.

If you have any queries please contact support@rurallink.co.nz
