Dear $customer.givenname $customer.surname,

This is an automated notification as you have exceeded your current data
usage cap of ${customer.cap_at_mb}MB. 

As per your chosen plan, a further ${customer.purchased_mb}MB has been
purchased for $customer.purchased_price and added to your data usage
cap. Your speed remains unchanged.

If you have any queries please contact support@rurallink.co.nz
