Dear $customer.givenname $customer.surname,

This is an automated notification as you have used 80% of your usage 
cap of ${customer.cap_at_mb}MB. 

When you have used all of your cap, you will be throttled to 64kbps.

If you have any queries please contact support@rurallink.co.nz
