Dear $invoice.contact.givenname $invoice.contact.surname,

Please find attached your latest RuralLink invoice. You 
will need a PDF Viewer to display it, if you do not have
one, Adobe Acrobat is available at no cost from
http://www.adobe.com/products/acrobat/readermain.html

The total amount payable is: \$$invoice.total

If you have any queries please contact support@rurallink.co.nz
