#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

D := $(CURDIR)/debian/ccsd
DC := $(CURDIR)/debian/crcnet-monitor
STRIPDOCS := $(shell dpkg-parsechangelog | grep Distribution | grep crcnet-bpc)

configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# No compilation needed

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Install the server bits and peices
	$(MAKE) install-server DESTDIR=$(D)
	
	# Move database schemas into place for dbconfig_common to use
	mkdir -p $(D)/usr/share/dbconfig-common/data/ccsd/install{,-dbadmin}
	mv $(D)//usr/share/ccsd/dbschema/ccs.schema \
		$(D)/usr/share/dbconfig-common/data/ccsd/install/pgsql
	mv $(D)/usr/share/ccsd/dbschema/ccs.adminschema \
		$(D)/usr/share/dbconfig-common/data/ccsd/install-dbadmin/pgsql

	# Install config file
	cp -a debian/ccsd.conf $(D)/usr/share/ccsd/ccsd.conf.dist
	
	# Install the client bits and peices
	$(MAKE) install-client DESTDIR=$(DC)
	mkdir $(DC)/usr/share/doc/crcnet-monitor/
	mv $(DC)/usr/share/doc/ccsd/* $(DC)/usr/share/doc/crcnet-monitor/
	rm -rf $(DC)/usr/share/doc/ccsd
	cp -a debian/crcnet-monitor.conf $(DC)/etc/ccsd/crcnet-monitor.conf
	
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installdebconf
	dh_installinit
	$(if $(STRIPDOCS),rm -rf $(D)/usr/share/doc)
	$(if $(STRIPDOCS),rm -rf $(DC)/usr/share/doc)
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
