#*doc-module:
crcnetd - CRCnet Configuration System Daemon Template

This template creates the hosts file for a biscuit pc
*#
#attr $author = "Matt Brown <matt@crc.net.nz>"
#attr $version = "$Id$"
#attr $copyright = "Copyright (C) 2006  The University of Waikato"
#attr $license = "No usage or redistribution rights are granted. See LICENSE for details."
#attr $eventList = []

#from crcnetd._utils.ccsd_cfengine import ccs_template
#extends ccs_template
127.0.0.1       localhost
$ip_address	$host_name.$domain $host_name
$policy_ip	syslog

::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
