#attr $author = "Matt Brown <matt@crc.net.nz>"
#attr $version = "$Id$"
#attr $copyright = "Copyright (C) 2006  The University of Waikato"
#attr $license = "No usage or redistribution rights are granted. See LICENSE for details."
#attr $eventList = []
#attr $fileName = "local.cfg"
#from crcnetd._utils.ccsd_cfengine import ccs_template
#extends ccs_template
#compiler-settings
## Change the Cheetah start tokens so that we don't conflict with Nagios
cheetahVarStartToken = %
directiveStartToken = !
commentStartToken = !!
EOLSlurpToken = ^^^
#end compiler-settings
#############################################################
#
# local.cfg -- for %domain
# $Date$
# 
# You may place site specific configuration directives for 
# Nagios in this file. The configuration system and CFengine
# will not overwrite them. 
#
#############################################################

